<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/css/style.css">
  <title>Глобальное потепление</title>
</head>
<body>
  <header class="header">
    <div class="header__text">
      <h1>Глобальное потепление</h1>
      <p>Что нам с ним делать?</p>
    </div>
  </header>
  <main>
    <div class="globalwarming-content">
      <h2>Что такое глобальное потепление?</h2>
      <p>Глобальное потепление это когда температура на Земле медленно растёт. Это не просто жара летом, а долгое изменение климата. Основная причина это деятельность людей: мы сжигаем нефть, газ и уголь, и в воздух выбрасываются парниковые газы, которые как одеяло удерживают тепло. Из-за этого меняется погода, тают льды и поднимается уровень моря.</p>
      
      <h2>Насколько эта проблема серьезна, и касается ли она нас?</h2>
      <p>Это не что-то далёкое или что-то из будущего глобальное потепление уже влияет на нас. Летом становится жарче а зимой странные перепады температуры. Всё чаще происходят ураганы, наводнения и пожары. Если ничего не делать, всё будет только хуже. Эта проблема касается всех людей на земле.</p>
      
      <h2>Что провоцирует глобальное потепление?</h2>
      <p>Промышленные объекты, такие как машины, заводы и электростанции, сжигают топливо, что приводит к выбросу большого количества CO₂. Вырубка лесов сокращает количество деревьев, способных поглощать CO₂. Животноводство, как, например, разведение коров, также способствует выбросу метана, который является парниковым газом. Свалки и отходы также представляют собой серьезную проблему, особенно органические отходы, которые выделяют метан. Короче, практически все наши повседневные действия, от поездок на машине до покупки продуктов, оказывают определённое влияние на климат. </p>

      <h2>Как мы можем сдерживать глобальное потепление?</h2>
      <p>Многое можно сделать, и каждый шаг играет важную роль:
        Выбрать велосипед или пешую прогулку заместо машины сильно снижает выбросы. Также можно экономить электричевство, используя энергоэффективную технику. Есть меньше мяса, особенно говядины производство мяса делает много выбросов CO₂ в атмосферу. Сортировать мусор и перерабатывать его и также покупать меньше лишнего. Поддерживать экологичные технологии и пользоваться общественным транспортом.</p>
      
      <div class="calculator-link">
        <a href="{{ url_for('calculator') }}" class="main__link">Рассчитать сколько CO₂ вы вырабатываете в год</a>
      </div>
    </div>
  </main>
  <footer>

  </footer>
</body>
</html>